@mixin wrapper() {
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;

  @media (min-width: $tablet-width) {
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    margin: 0 auto;
  }
}

@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
